         <!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body style="background-color: #000000">
    <header>
      <h1>Image Abstraction Layer</h1>
    </header>

    <main>
      <center>
      <div id="box"> 
        To search an item, type:<br /><br />
      <div class="code1">
        https://imageabslayer.glitch.me/api/imgsearch
            </div><br /><br />
        To lookup former searches, simply do:<br /><br />
      <div class="code1">
        https://imageabslayer.glitch.me/api/latest
            </div>
      </div>
      </center>
    </main>

    <footer style="color: white">
      4th Project in FCC by <a href="github.com/novuw" style="color: white">@Novuw</a>
    </footer>
    
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js"></script>
  </body>
</html>
